[user]
    name = nulladdict
    email = nulladdicted@gmail.com
    signingkey = ~/.ssh/nulladdicted.pub
[core]
    editor = nvim
    autocrlf = input
    quotepath = off
    excludesfile = ~/.gitignore_global
[gpg]
    format = ssh
[gpg "ssh"]
    allowedSignersFile = ~/.ssh/allowed_signers
[merge]
    tool = nvimdiff
    conflictstyle = diff3
[mergetool]
    keepbackup = false
[rerere]
    enabled = true
[pull]
    ff = only
[push]
    autoSetupRemote = true
[commit]
    gpgsign = true
[init]
    defaultBranch = main
[gui]
    fontui = -family .AppleSystemUIFont -size 14 -weight normal -slant roman -underline 0 -overstrike 0
    fontdiff = -family Menlo -size 14 -weight normal -slant roman -underline 0 -overstrike 0
    tabsize = 4
[filter "lfs"]
    clean = git-lfs clean -- %f
    smudge = git-lfs smudge -- %f
    process = git-lfs filter-process
    required = true
